* {
    font-family: 'Work Sans', Helvetica, sans-serif;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.15s ease;
}

a:hover {
    color: chocolate;
}

.opaque {
    background-color: white;
}

.flex {
    display: flex;
}

.shadow {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(188,188,188,1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(188,188,188,1);
    box-shadow: 0px 0px 10px 5px rgba(188,188,188,1);
}

.choc-button {
    height: 40px;
    background-color: #d2691e;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.choc-button:hover {
    background-color: #f78123;
}

.input-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.input-container input, .input-container select {
    width: 75%;
    padding: 6px;
}
.input-container label {
    width: auto;
}